.header {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  color: #d04f4f;
  margin-block-start: 5px;
  margin-block-end: unset;
}

.main {
  margin: 0 100px;
}

.search {
  margin-top: 17px;
  display: flex;
}
.search__bar {
  width: 100%;
  height: 69px;
  text-indent: 24px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.search__bar, .search__icon {
  border: unset;
  background-color: #E7E7E7;
  border-radius: 5px;
}
.search__icon {
  margin-left: -10px;
  font-size: 32px;
  padding-right: 18px;
}

.filter {
  display: flex;
  width: 170px;
  height: 69px;
}
.filter .filter-btn__icon {
  position: absolute;
  right: 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe {
  width: 380px;
  margin: 25px 0;
}
.recipe__img {
  height: 178px;
  background-color: #C7BEBE;
}
.recipe__explanation {
  padding: 20px 20px 0 20px;
  background-color: #E7E7E7;
  height: 166px;
}

.recipe-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}
.recipe-header__title {
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: 18px;
  font-weight: 400;
}
.recipe-header__time {
  font-size: 18px;
  font-weight: 700;
}
.recipe-header__time-icon {
  margin-right: 7px;
  font-size: 20px;
  font-weight: 700;
}

.recipe-body {
  display: flex;
  height: 100px;
  margin-top: 20px;
}
.recipe-body__ingredients {
  flex-basis: 50%;
  text-decoration: none;
  padding-right: 10px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.recipe-body__ingredients ul {
  list-style-type: none;
  padding-inline-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}
.recipe-body__ingredients span {
  font-weight: 400;
}
.recipe-body__description {
  flex-basis: 50%;
  overflow: hidden;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.filters {
  margin-top: 20px;
  display: flex;
}

.filter__keyword {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.filter__keyword--ingredients {
  background-color: #3282F7;
}
.filter__keyword--appareils {
  background-color: #68D9A4;
}
.filter__keyword--ustensiles {
  background-color: #ED6454;
}
.filter__keyword .keyword-search {
  display: flex;
  font-family: "lato", sans-serif;
  color: white;
}
.filter__keyword .keyword-search__btn {
  margin-right: 35px;
}
.filter__keyword .keyword-search__input {
  display: none;
}
.filter__keyword .keyword-search .fa-angle-up {
  display: none;
}

.filter__keyword.open {
  width: 667px;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter__keyword.open .keyword-search {
  display: flex;
  align-items: center;
  width: 667px;
}
.filter__keyword.open .keyword-search__input {
  display: block;
  width: 90%;
  height: 69px;
  border-radius: 5px;
  background-color: unset;
  border: unset;
}
.filter__keyword.open .keyword-search__input::placeholder {
  padding-left: 20px;
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  opacity: 0.5;
}
.filter__keyword.open .keyword-search__btn {
  display: none;
}
.filter__keyword.open .keyword-search .fa-angle-up {
  display: block;
}
.filter__keyword.open .keyword-search .fa-angle-down {
  display: none;
}
.filter__keyword.open .keyword-list {
  display: flex;
}
.filter__keyword.open .keyword-list li {
  list-style: none;
  display: inline-block;
  width: 33.3333333333%;
  color: white;
  font-family: "lato", sans-serif;
}

.filter__keyword.open .keyword-list {
  display: block;
}

.keyword-list {
  display: none;
}

/*# sourceMappingURL=style.css.map */
